<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f6e879">  <td>16/06/15 22:51:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookCarInsParallelTest.BookCarInsParallelTest()[pri:0, instance:parallelbrowser.based.BookCarInsParallelTest@cc285f4]">BookCarInsParallelTest</td> 
  <td>TestNG@336784572</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>16/06/15 22:51:35</td>   <td>1193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookCarInsParallelTest.BookCarInsParallelTest()[pri:0, instance:parallelbrowser.based.BookCarInsParallelTest@27efef64]">BookCarInsParallelTest</td> 
  <td>TestNG@1783283271</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>16/06/15 22:51:03</td>   <td>-31563</td> <td>&nbsp;</td><td title="&gt;&gt;BookCarInsParallelTest.openBrowser(java.lang.String)[pri:0, instance:parallelbrowser.based.BookCarInsParallelTest@cc285f4]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@336784572</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>16/06/15 22:51:03</td>   <td>-31563</td> <td>&nbsp;</td><td title="&gt;&gt;BookCarInsParallelTest.openBrowser(java.lang.String)[pri:0, instance:parallelbrowser.based.BookCarInsParallelTest@27efef64]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1783283271</td>   <td></td> </tr>
</table>
