<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>16/06/16 00:59:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BookCarInsuranceFirefox.setUp()[pri:0, instance:SydneyTesterTest.BookCarInsuranceFirefox@51565ec2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>16/06/16 01:00:04</td>   <td>12783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookCarInsuranceFirefox.test()[pri:0, instance:SydneyTesterTest.BookCarInsuranceFirefox@51565ec2]">test</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>16/06/16 01:00:17</td>   <td>25694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BookCarInsuranceFirefox.afterClass()[pri:0, instance:SydneyTesterTest.BookCarInsuranceFirefox@51565ec2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td>  <td>main@876563773</td>   <td></td> </tr>
</table>
