<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Parallel test suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c78c6b">  <td>16/06/07 16:15:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BookCarInsParallelTest.openBrowser(java.lang.String)[pri:0, instance:browser.based.BookCarInsParallelTest@6a4f787b]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1335836169</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>16/06/07 16:15:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BookCarInsParallelTest.openBrowser(java.lang.String)[pri:0, instance:browser.based.BookCarInsParallelTest@28d25987]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1648219680</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>16/06/07 16:15:37</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookCarInsParallelTest.test()[pri:0, instance:browser.based.BookCarInsParallelTest@28d25987]">test</td> 
  <td>TestNG@1648219680</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>16/06/07 16:15:40</td>   <td>3134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookCarInsParallelTest.test()[pri:0, instance:browser.based.BookCarInsParallelTest@6a4f787b]">test</td> 
  <td>TestNG@1335836169</td>   <td></td> </tr>
</table>
